
Source/__history
Source/Client/__recovery
Source/Client/__history
Source/Client/Win32
Source/Client/Venda/__history
Source/Client/Base/__history
Source/Client/Bomba/__history
Source/Client/Produtos/__history
Source/Client/Tanque/__history
Source/Server/Win32
Source/Server/__recovery
Source/Server/__history
Source/Server/Controller/__history
Source/Server/Business/__history
Source/Server/Business/DAO/__history
Source/Server/Dynamic/__history

*.local
*.dres
*.identcache
Source/Server/PostoServer.exe
